<div class="card-group col-3 text-center">
                <div class="card">
        <a href="{% url 'trees:person' slug=tree_obj.slug id=baby.id %}">{{ baby.name }} {{ baby.surname }}</a>
        </div>
                {% if baby.spouse %}
                    <div class="card">
        <a href="{% url 'trees:person' slug=tree_obj.slug id=baby.spouse.id %}">{{ baby.spouse.name }} {{ baby.spouse.surname }}</a>
        </div>
                {% endif %}
            </div>
{% if baby.children.all.count %}
    <div class="text-center col-3">
        <p>|</p>
        </div>
    <ul>
        {% for child_obj in baby.children.all %}
        <li class="list-group">
            {% include 'includes/child.html' with baby=child_obj %}
        </li>
        {% endfor %}
    </ul>
{% endif %}