{% extends "base.html" %}
{% block title %}Родословная{% endblock %}
{% block content %}

    <h1 class="text-center">Проект "Родословная"</h1>
    <div  class="col-6 offset-3 mb-5 lead text-lg-start">
    <p>Этот проект возник из желания описать свою родословную, создать своё древо рода и визуализировать его.</p>
    <p>Вы можете создать древо своего Рода, дать ему описание, добавить туда людей (себя и своих родственников).</p>
    <p>В описании людей можно добавить фотографию, информацию разного рода и описать биографию конкретного человека.</p>
    <p>Также вы можете посмотреть чужие родословные, которые пользователи сделали публичными.</p>
    </div>
    <p class="col-6 offset-3 mb-5 lead text-lg-center"><b>Итак, регистрируйтесь и начните писать историю своей семьи!</b></p>


    <div  class="col-6 offset-3 mb-5 lead text-lg-start">
    <h2 class="text-center">Опубликованные родословные</h2>
    {% if not page_obj %}
        <p class="text-center">Ещё никто не создал публичную родословную.</p>
    {% else %}
        {% for tree in page_obj %}
            <article class="mb-5">
          {% include "includes/tree_card.html" %}
        </article>
        {% endfor %}
        {% include "includes/paginator.html" %}
    {% endif %}
    </div>
{% endblock content %}