{% extends "base.html" %}
{% block title %}Информация о {{ person }}{% endblock %}
{% block content %}
    <h2>Информация о {{ person }}</h2>
    {% if person.photo %}
        <div class="col-md-4">
        <a href="{{ person.photo.url }}" target="_blank">
          <img class="border-3 rounded img-thumbnail img-fluid d-block" src="{{ person.photo.url }}" height="100">
        </a></div>
      {% endif %}
    <p><b>Род: </b><a href="{% url 'trees:tree_detail' person_tree.slug %}" class="text-dark">{{ person_tree }}</a></p>

    <p><b>Фамилия: </b>{% if person.surname %}{{ person.surname }}{% else %}неизвестно{% endif %}</p>
    <p><b>Имя: </b>{% if person.name %}{{ person.name }}{% else %}неизвестно{% endif %}</p>
    <p><b>Отчество: </b>{% if person.patronymic %}{{ person.patronymic }}{% else %}неизвестно{% endif %}</p><br>
    <p><b>Дата рождения: </b>{% if person.birthday %}{{ person.birthday }}{% else %}неизвестно{% endif %}</p>
    <p><b>Дата смерти: </b>{% if person.date_of_death %}{{ person.date_of_death }}{% else %}неизвестно{% endif %}</p>
    <p><b>Пол: </b>{{ person.gender }}</p><br>
    <p><b>Родители: </b></p>
        {% if person.parents %}
        <ul>
        {% for parent in person.parents.all %}
            {% if parent.gender == 'м' %}
                <li>Отец - {{ parent }}</li>
            {% else %}
                <li>Мать - {{ parent }}</li>
            {% endif %}
        {% endfor %}
        </ul>
{#    <br>#}
       {% else %}
           <p>Информации о родителях нет.</p>
       {% endif %}

    <p><b>Супруг(а): </b>
        {% if person.spouse %}
            <a href="{% url 'trees:person' slug=person_tree.slug id=person.spouse.id %}" class="text-dark">{{ person.spouse }}</a>
        {% else %}неизвестно
        {% endif %}
    </p>
    {% if children %}
        <ul>
        {% for child in children %}
            {% if child.gender == 'м' %}
                <li>Сын - {{ child }}</li>
            {% else %}
                <li>Дочь - {{ child }}</li>
            {% endif %}
        {% endfor %}
        </ul>
{#    <br>#}
    {% else %}
    <p>Информации о детях нет.</p>
    {% endif %}
    <h3>Биография:</h3>
    {% if person.biography %}<p>{{ person.biography }}{% else %}Биография пока пуста.{% endif %}</p><br>
    <div class="btn-group top-100 start-50 translate-middle" role="group" aria-label="Basic outlined example">
    {% if user == person_tree.owner %}
        <button type="button" class="btn btn-dark"><a class="text-decoration-none text-reset"
                  href="{% url 'trees:person_edit' slug=person_tree.slug id=person.id %}">Редактировать</a></button>
      <button type="button" class="btn btn-danger"><a class="text-decoration-none text-reset"
                  href="{% url 'trees:person_delete' slug=person_tree.slug id=person.id %}">Удалить</a></button>
        {% endif %}
        <button type="button" class="btn btn-dark"><a class="text-decoration-none text-reset"
                  href="{% url 'trees:tree_detail' slug=person_tree.slug %}">Вернуться к роду</a></button>
    </div><br>

{% endblock content %}