{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Древо Рода {{ tree_obj.genus_name }}{% endblock %}
{% block content %}
    <h2 class="text-center">Древо Рода {{ tree_obj.genus_name }}</h2>
    {% if tree_obj.photo %}
        <a href="{{ tree_obj.photo.url }}" target="_blank">
          <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ tree_obj.photo.url }}">
        </a>
    {% endif %}
    <p><b>Создано: </b>{{ tree_obj.created_at }}</p>
    <p><b>Изменено: </b>{{ tree_obj.changed_at }}</p>
    <p><b>Описание: </b><p>{{ tree_obj.info }}</p></p><br>
    <p><b>Владелец: </b>
        <a class="text-decoration-none text-reset"
                  href="{% url 'users:profile' tree_obj.owner %}">{{ tree_obj.owner }}</a></p>
    <div class="text-center py-5">
    <button type="button" class="btn btn-dark"><a class="text-decoration-none text-reset"
                  href="{% url 'trees:person_create' tree_obj.slug %}">Добавить члена родословной</a></button>
    </div>

    <p><b>Члены рода:</b></p>
    {% for person in members %}
      <article class="mb-5">
          {% include "includes/person_card.html" %}
        </article>
    {% endfor %}

    <p><b>Связанные древа:</b></p>
    {% for tree in trees %}
      <article class="mb-5">
          {% include "includes/tree_card.html" %}
        </article>
    {% endfor %}

{% endblock content %}